.ballot-parent-container {
    border: 2px solid #cccccc;
    background-color: #009B86;
    width: fit-content;
    padding: 20px 30px;
    margin-top: 50px;
    width: 65%;

}

.parent-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.ballot-parent-container:hover {
    background-color: #CCCCCC;
    transform: scale(1.03);
    transition: transform 0.8s ease;
    color: black;
}

.child-parent-ballot {
    width: 100%;
}

.ballot-image-parent {
    display: flex;
    justify-content: center;
}


.ballot-image {
    width: 200px;
    height: 250px;
}

.ballot-title-parent {
    text-align: center;
    padding-top: 10px;
    height: 30px;
}

.ballot-title {
    font-size: 15px;
    color: white;
}

.ballot-title {
    display: inline-block;
    max-width: 23ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}





.ballot-btn-parent {
    display: flex;
    justify-content: center;
    padding-top: 5px;

}

.ballot-parent-container.active {
    background-color: #cccccc;
    color: black;
}

.ballot-btn {
    padding: 12px 30px;
    background-color: #009B86;
    border: 1px solid #cccccc;
    color: white;
    cursor: pointer;
}

.ballot-btn:hover {
    background-color: #0D2436;
}

.active {
    background-color: #ccc;
    transform: scale(1.03);
    transition: transform 0.8s ease;
}

.active .ballot-btn {
    padding: 12px 30px;
    background-color: #0D2436;
    border: 1px solid #cccccc;
    color: white;
    cursor: pointer;
}

.ballot-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ballot-title:hover {
    overflow: visible;
    white-space: normal;

}

@media screen and (max-width:1080px) {
    .parent-div {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (max-width:790px) {
    .parent-div {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width:560px) {
    .parent-div {
        grid-template-columns: repeat(1, auto);
        padding: 0px 30px;
    }

    .ballot-image {
        width: 250px;
        height: 250px;
    }
}