.category-title-parent {
    border: 2px solid #cccccc;
    padding-left: 30px;
    margin-top: 50px;
    background: radial-gradient(circle, rgba(0,155,134,1) 58%, rgba(13,36,54,1) 100%);
  
  }
  .category-title {
    font-size: 19px;
    color:#FFFFFF;
  }
  